html,body,#wrapper {
    height:100%;
    padding:0;
    margin:0;
}
#wrapper {
    position:relative;
}

#top, #editor, #bottom {
    position:absolute;
}

#top {
    font-style: italic;
    text-align:center;
    padding-top:8px;
    height:25px;
    width:100%;
    background:grey;
}
#editor {
    top:25px;
    bottom:25px;
    width:100%;
    background:black;
    color:white;
}
#bottom {
    font-style: italic;
    text-align:center;
    bottom:0;
    height:25px;
    width:100%;
    background:grey;
}